<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>FactFinder</title>
</head>

<body onload="displayTable()">
    <script src="../static/index.js"></script>

    <div id="header">
        <div id="logo">
            <img src="../static/Images/Logo.png" alt="Logo" style="width:100%; height:100%">
        </div>
    </div>

    
    <div class="center">

        <h1>Select an option to find the TRUTH</h1>

        <div id="buttons">

            <button id="btn" type="button" class="btn1 bg-color-blue">
                <img class="pin" src="../static/Images/pin.png" alt="">
                <img src="../static/Images/headline.png" alt="" style="width:30%; height:80%">
                <h2>Enter the NEWS headlines</h2>
            </button>

            <button id="btn" type="button" class="btn1 bg-color-white">
                <img class="pin" src="../static/Images/pin.png" alt="">
                <img src="../static/Images/news-report.png" alt="" style="width:30%; height:80%">
                <h2 class="color-blue">Enter the NEWS Article link</h2>
            </button>

        </div>
        
    </div>



    <!-- <div id="text2">Enter the headlines/NEWS article link</div>
    <div class="tab1">
        <div class="tab11">
            <textarea id="rect"></textarea>
            <button class="rect3" id="check" onclick="displayResults()">Check</button>
        </div>
    </div>
    <div class="tab1">
        <div class="tab11">
            <div id="options">
                <img class="fake" src="../static/Images/fake.png" alt="">
                <div class="insidetext3">The entered NEWS is fake</div>
            </div>
        </div>
    </div> -->
</body>

</html>