<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>FactFinder</title>
</head>

<body onload="displayTable()">
    <script src="../static/index.js"></script>

    <div id="header">
        <div id="logo">
            <img src="../static/Images/Logo.png" alt="Logo" style="height:100%">
        </div>
    </div>
    
    <div id="text">Select an option to find the TRUTH</div>

    <div class="flex-container" id="table">
        <form>
            <div class="tab1">
                <div class="tab11">
                    <button type="button" class="rectangle8" onclick="displayform()">
                        <img class="pin2" src="../static/Images/pin.png" alt="">
                        <img src="../static/Images/headline.png" alt="">
                        <!-- <textarea  name="headline" id="headline" cols="30" rows="10">Enter the NEWS headlines</textarea> -->
                        <div class="insidetext">Enter the NEWS headlines</div>
                    </button>

                </div>
            </div>
            <div class="tab1">
                <div class="tab11">
                    <button type="button" class="rectangle9" onclick="displayform()">
                        <img class="pin3" src="../static/Images/pin.png" alt="">
                        <img src="../static/Images/news-report.png" alt="">
                        <div class="insidetext2">Enter the NEWS Article link</Article>
                        </div>
                    </button>

                </div>
            </div>
        </form>
    </div>
    <div id="text2">Enter the headlines/NEWS article link</div>
    <div class="tab1">
        <div class="tab11">
            <textarea id="rect"></textarea>
            <button class="rect3" id="check" onclick="displayResults()">Check</button>
        </div>
    </div>
    <div class="tab1">
        <div class="tab11">
            <div id="options">
                <img class="fake" src="../static/Images/fake.png" alt="">
                <div class="insidetext3">The entered NEWS is fake</div>
            </div>
        </div>
    </div>
</body>

</html>